.events-near {
  padding-top: 120px;
}
.events-near__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.events-near__head-container {
  display: flex;
  align-items: center;
  gap: 25px;
  h2 {
    @include section-header();
  }
}
.events-near__link-container {
  width: 240px;
  height: 44px;
  background-color: #97cad11f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $primary-color;
  }
  p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: $primary-color;
  }
}
.see-all-events-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-color: $primary-color;
  }
}
.events-near__events-list {
  padding-top: 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 36px;
  row-gap: 86px;
  a {
    text-decoration: none;
    color: $primary-font-color;
    position: relative;
    &:hover h3 {
      text-decoration: underline;
      text-decoration-color: $primary-font-color;
    }
  }
}
.event-near__events-list-container {
  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    padding-top: 12px;
  }
}
.events-near__events-list-image {
  max-width: 100%;
  height: 153px;
  border-radius: 8px;
}
.events-near-online-event-img {
  position: absolute;
  width: clamp(25px, 50%, 106px);
  left: 10px;
  top: 5px;
}
.activity-kind {
  padding-top: 20px;
  color: $secondary-font-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.42;
}
.events-near__going-ticket-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.events-near__event-date-container {
  @include ticket-container();
  p {
    font-size: 14px;
    font-weight: 400;
  }
}
.events-near__going-container {
  @include ticket-container();
  p {
    font-size: 16px;
    font-weight: 400;
  }
}
.events-near__ticket-container {
  @include ticket-container();
  p {
    font-size: 16px;
    font-weight: 400;
  }
}
.events-near--online-section {
  padding-top: 90px;
  h2 {
    @include section-header();
  }
}
@media (max-width: 992px) {
  .events-near {
    padding-top: 60px;
  }
  .events-near__link-container {
    p {
      font-size: 16px;
    }
  }
  .see-all-events-link {
    font-size: 14px;
  }
  .events-near__events-list {
    column-gap: 36px;
    row-gap: 46px;
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
  }
  .events-near__events-list-image {
    height: 95px;
  }
  .activity-kind {
    padding-top: 12px;
  }
  .events-near--online-section {
    padding-top: 60px;
  }
}
@media (max-width: 768px) {
  .events-near {
    padding-top: 25px;
  }
  .events-near__events-list {
    padding-top: 24px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 36px;
    row-gap: 36px;
  }
  .events-near__link-container {
    width: 190px;
    height: 30px;
    p {
      font-size: 14px;
    }
  }
}
@media (max-width: 576px) {
  .events-near__events-list {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    li {
      border-top: 1px solid #d9d9d9;
    }
    a {
      padding-top: 10px;
      display: flex;
      gap: 3px;
    }
    p {
      font-size: 10px;
    }
  }
  .event-near__events-list-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    h3 {
      order: 1;
      padding-top: 0;
      padding-left: 3px;
      font-size: 12px;
      font-weight: 500;
          }
  }
  .events-near__events-list-image {
    width: 170px;
    height: 100px;
  }
  .events-near-online-event-img {
    position: static;
    order: 3;
  }
  .activity-kind {
    padding-top: 0;
    padding-left: 3px;
    order: 2;
    font-size: 10px;
    font-weight: 400;
  }
  .events-near__event-date-container {
    order: 0;
    padding-left: 3px;
    p {
      color: #7c6f50;
      padding-top: 0;
    }
    img {
      display: none;
    }
  }
  .events-near__going-ticket-container {
    display: none;
  }
  .events-near__ticket-container {
    display: none;
  }
  .events-near__events-list-image-container {
    flex-shrink: 0;
  }
  .see-all-events-link {
    display: none;
  }
  .events-near__link-container {
    font-size: 14px;
    height: 30px;
    max-width: 165px;
    img {
      width: 15px;
      height: 15px;
    }
  }
  .events-near__head-container {
    gap: 10px;
  }
}
